@media screen and (max-width: 1280px) {
    .header h1 {
        font-size: 35px;
    }
    .header span {
        font-size: 35px;
    }
    .header p {
        width: 372px;
        height: 81px;
        margin: 0 auto;
        font-weight: 200;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #A3A5AE;
    }
    
    /* Cards Section */
    
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}    

.supervisor, .team, .karma, .calculator {
    width: 350px;
    height: 255px;
}

.flex h3 {
    color: #898897;
    font-weight: 600;
    font-size: 22px;
    bottom: 15px;
}

.flex p {
    color: #898897;
    font-weight: 200;
    font-size: 13px;
}

.image {
    float: right;
    margin-top: 50px;
}

section {
    background-color: white;
    box-shadow: 0 10px 10px rgba(84, 158, 242, .2);
    border-radius: 5px;
    padding: 24px;
    width: 400px;
    height: 256px;
    cursor: pointer;
}

section:active {
    position: relative;
    top: 10px;
    box-shadow: 0 0 10px rgba(84, 158, 242, .2);
}
    /* footer {
        font-size: 20px;
        text-align: center;
    } */
}
