@media screen and (max-width: 375px){
    .header h1{
        font-size: 25px;
    }
    .header p {
        column-count: 2;
        column-width: 350px;
        width: 1110px;
        color: #A3A5AE;
        padding-bottom: 20px;
    }


    main{
        height: 600px;
    }

    .container{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* cards section */
    .cards{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .supervisor, 
    .center-box, 
    .calculator{
        flex-basis: 32%;
    }
    
    .supervisor,
    .calculator{
        align-self: center;
    }

}
