@media screen and (max-width: 1280px) {
    .header h1 {
        font-size: 35px;
    }
    .header span {
        font-size: 35px;
    }
    .header p {
        width: 372px;
        height: 81px;
        margin: 0 auto;
        font-weight: 200;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #A3A5AE;
    }
    .container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* Cards Section */
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .supervisor, .center-box, .calculator {
        flex-basis: 32%;
    }
    .supervisor, .calculator {
        align-self: center;
    }
    /* footer {
        font-size: 20px;
        text-align: center;
    } */
}
